@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/*navbar stuff*/
.navbar {
  margin-bottom: 0px;
}

#head-nav {
  color: black;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
  font-family: 'Baskervville', serif;
}


#head-nav:hover {
  color: brown;

  border-bottom: 3px solid brown;
}

.navbar a:focus {
  background: #F5F0ED;
}

.parallax {
  min-height: 90vh;
  margin: 0;
  padding: 20px;
  background: url(background_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: center center;
}

@media (max-width: 768px) {
  .parallax {
    min-height: 50vh;
  }

  h1 {
    font-size: calc(1.525rem + 3.3vw);
    font-size: 10vw;
  }
  h6{
    font-size: calc(1.525rem + 3.3vw);

  }
}

.projectParallax {
  min-height: 450px;
  background: transparent;
  padding: 20px;
}

.para1 {
  z-index: 2;
  position: relative;
  text-align: center;
}
/*headers*/

h1 {
  margin-top: 30px;
  font-size: 70px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Steelfish Rg', 'helvetica neue',
    helvetica, arial, sans-serif;
  font-weight: 800;
  color: #58360F;
  -webkit-font-smoothing: antialiased;
}

.subheader-text {
  font-family: 'IBM Plex Sans Hebrew';
  color: #58360F;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.icons {
  width: 20%;
  text-align: center;
}

h6 {
  /* font-family: 'Lilita One'; */
  color: black;
  /* text-align: center; */
  padding-top: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%, 50%);

}
h3 {
  font-size: 20px;
  color: #8d4c07;
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: center;
  font-family: sans-serif
}

h4 {
  font-size: 20px;
  color: #9b9b94;
  margin-top: 20px;
  text-align: center;
  font-family: sans-serif
}

.icon {
  width: 30%;
}

.icon-footer {
  width: 100%;

}

.outline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  background: transparent;
}

.inspo-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  /* margin-left: 10px;
  margin-right: 10px; */
  justify-content: center;

}

/*styling mission section*/
.mission-inner-part>p {
  font-size: 3vw;
  color: #6e3c3a;
  text-align: center;
}

.mission-inner-part {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px

}
.mission {
  background-color: #FFF6D5;

}

/*styling values section*/

.values-flex {
  margin-left: 50px;
  margin-right: 50px
}

.values-p {
  text-align: center;
  margin-top: 20px;

}
.values-text {
  font-size: 20px;
  text-align: center;
}

/*styling about us section*/
.founder-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #FDF8F3;
  justify-content: center;
}
.bio-p {
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}
.col-lg-5 {
  margin: auto !important;
}
.about-image-container>img {
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 5px 5px 2.5px #aaaaaa;
  margin-bottom:20px;
}

/*styling highlights section*/
.inspired-section {
  background-color: #FFF6D5;
}
.slide-flex {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.card {
  border-radius: 25px;
}

.image-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
  position: relative;
  row-gap: 5px;
  padding: 25px 0;

}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 230px;
  padding: 10px 14px;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #8d4c07;
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #8d4c07;
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}

.card-image {
  position: relative;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #8d4c07;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}



.swiper-navBtn {
  color: #8d4c07;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: #8d4c07;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: brown;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: brown;
}
/*styling the vidoes section*/
.episodes {
  background-color: #FDF8F3;

}






/**fonts/
/* port-lligat-sans-regular - latin */
@font-face {
  font-family: 'Port Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/port-lligat-sans-v18-latin/port-lligat-sans-v18-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Port Sans') url('./fonts/port-lligat-sans-v18-latin/port-lligat-sans-v18-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./fonts/port-lligat-sans-v18-latin/port-lligat-sans-v18-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('./fonts/port-lligat-sans-v18-latin/port-lligat-sans-v18-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('./fonts/port-lligat-sans-v18-latin/port-lligat-sans-v18-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('./fonts/port-lligat-sans-v18-latin/port-lligat-sans-v18-latin-regular.svg#PortLligatSans') format('svg');
  /* Legacy iOS */
}
/* concert-one-regular - latin */
@font-face {
  font-family: 'Concert One';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/concert-one-v17-latin/concert-one-v17-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Concert One'),
    url('./fonts/concert-one-v17-latin/concert-one-v17-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./fonts/concert-one-v17-latin/concert-one-v17-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('./fonts/concert-one-v17-latin/concert-one-v17-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('./fonts/concert-one-v17-latin/concert-one-v17-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('./fonts/concert-one-v17-latin/concert-one-v17-latin-regular.svg') format('svg');
  /* Legacy iOS */
}

/* lilita-one-regular - latin */
@font-face {
  font-family: 'Lilita One';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/lilita-one-v13-latin/lilita-one-v13-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Lilita One'),
    url('./fonts/lilita-one-v13-latin/lilita-one-v13-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./fonts/lilita-one-v13-latin/lilita-one-v13-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('./fonts/lilita-one-v13-latin/lilita-one-v13-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('./fonts/lilita-one-v13-latin/lilita-one-v13-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('./fonts/lilita-one-v13-latin/lilita-one-v13-latin-regular.svg') format('svg');
  /* Legacy iOS */
}

/* ibm-plex-sans-hebrew-regular - latin */
@font-face {
  font-family: 'IBM Plex Sans Hebrew';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/ibm-plex-sans-hebrew-v10-latin/ibm-plex-sans-hebrew-v10-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('IBM Plex Sans Hebrew'),
    url('./fonts/ibm-plex-sans-hebrew-v10-latin/ibm-plex-sans-hebrew-v10-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./fonts/ibm-plex-sans-hebrew-v10-latin/ibm-plex-sans-hebrew-v10-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('./fonts/ibm-plex-sans-hebrew-v10-latin/ibm-plex-sans-hebrew-v10-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('./fonts/ibm-plex-sans-hebrew-v10-latin/ibm-plex-sans-hebrew-v10-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('./fonts/ibm-plex-sans-hebrew-v10-latin/ibm-plex-sans-hebrew-v10-latin-regular.svg') format('svg');
  /* Legacy iOS */
}

/* gurajada-regular - latin */
@font-face {
  font-family: 'Gurajada';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/gurajada-v15-latin/gurajada-v15-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Gurajada'),
    url('./fonts/gurajada-v15-latin/gurajada-v15-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./fonts/gurajada-v15-latin/gurajada-v15-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('./fonts/gurajada-v15-latin/gurajada-v15-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('./fonts/gurajada-v15-latin/gurajada-v15-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('./fonts/gurajada-v15-latin/gurajada-v15-latin-regular.svg') format('svg');
  /* Legacy iOS */
}

/* nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/nunito-v25-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/nunito-v25-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./fonts/nunito-v25-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('./fonts/nunito-v25-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/nunito-v25-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/nunito-v25-latin-regular.svg#Nunito') format('svg');
  /* Legacy iOS */
}

/* styling the footer */
.container {
  max-width: 1170px;
  margin: auto;
}

ul {
  list-style: none;
}

.footer {
  background-color: #352208;
  padding: 70px 0;
  text-align: center;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  text-align: center;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  text-decoration-line: overline;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  text-align: center;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  background-color: rgba(255,255,255,0.2);
  margin: 10 10px 10px 10;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}